* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font: normal 14px/14px "Maison Neue", sans-serif;
}

/* Title */

.title-section.title-section--small {
  line-height: 1.125em;
  font-size: 28px;
}

.title-section.title-section--big {
  font-size: 64px;
  line-height: 1.125em;
  margin-bottom: 40px;
}

/* Link */

.link {
  text-decoration: none;
  transition: color 0.15s ease-out 0s;
}

.link.link--primary {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}

.link.link--primary:hover,
.link.link--secondary:hover {
  color: rgb(255, 51, 102);
}

.link.link--secondary {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}

.link.link--accent {
  color: rgb(255, 51, 102);
  font-size: 12px;
  position: relative;
}

.link.link--accent::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -13px;
  width: 100%;
  height: 2px;
  background: rgb(255, 51, 102);
}

.link.link--big {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.link.link--small {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

.link.link--small:hover {
  color: rgba(255, 255, 255, 1)
}

/* Button */
.button {
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  padding: 13px 32px 11px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.button.button--accent {
  color: #fff;
  background: rgb(255, 51, 102);
}

.button.button--seconary {
  padding: 18px 43px;
  color: #000;
  border: 2px solid #fff;
}

.button.button--secondary {
  background: #000;
  color: #fff;
  border: 2px solid #000;
  padding: 18px 43px;
}

.button.button--secondary:hover {
  background: #fff;
  color: #000;
}

.button.button--primary {
  padding: 18px 43px;
  color: #000;
  border: 2px solid #fff;
}

.button.button--primary:hover {
  color: #fff;
  border: 2px solid #fff;
  background: #000;
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  height: 130px;
  display: block;
  left: 0;
  top: 0;
  z-index: 3;
  background: white;
  max-width: none;
  transition: all 0.25s ease-out 0s;
}

.header__wrapper {
  max-width: 1740px;
  margin: 0 auto;
  width: calc(100% - 60px);
}

.header .logo {
  width: 220px;
  height: 220px;
}

.header .logo__image,
.header .logo__text {
  margin-left: 30px;
}

.header .container-controls {
  margin: 53px 50px 40px 0;
  float: right;
  transition: all 0.25s ease-out 0s;
}

.header .container-controls,
.header .container-link,
.header .container-button {
  display: inline-block;
  vertical-align: top;
}

.header .container-link {
  margin-right: 20px;
}

.header .container-button {
  margin-top: -13px;
}

.header.header--sticky {
  height: 90px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 40px 0px;
}

.header--sticky .logo {
  height: 90px;
  width: 150px;
  overflow: hidden;
  padding-bottom: 0;
}

.header--sticky .logo__image {
  margin: 30px 0 30px 0;
  width: 30px;
  height: 30px;
}

.header--sticky .logo__text {
  margin-left: 0;
}

.header--sticky .navigation {
  margin: 22px 0;
}

.header--sticky .container-controls {
  margin: 33px 0 0 0;
}

/* Logo */

.logo {
  width: 150px;
  height: 200px;
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #fff;
  padding-bottom: 15px;
  transition: all 0.25s ease-out 0s;
}

.logo__image {
  background-image: url('../images/logo.svg');
  background-size: cover;
  width: 45px;
  height: 45px;
  margin: 48px 0px 15px 0;
  transition: all 0.25s ease-out 0s;
}

.logo--invert {
  background: #000;
}

.logo__image--invert {
  filter: invert(1);
}

.logo__text {
  background-image: url('../images/logo-text.svg');
  background-size: cover;
  width: 96px;
  height: 86px;
  margin: 0;
  transition: all 0.25s ease-out 0s;
}

/* Navigation */

.navigation {
  display: inline-block;
  margin: 40px 0;
  vertical-align: top;
  transition: all 0.25s ease-out 0s;
}

.navigation .link {
  padding: 16px 15px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}

.navigation .link.link.link--small {
  font-weight: normal;
}

.navigation .link:nth-child(1) {
  padding-left: 0;
}

.navigation__menu-button {
  width: 25px;
  display: none;
  cursor: pointer;
  margin-top: 8px;
}

/* Section */

.section {
  max-width: 1740px;
  width: calc(100% - 60px);
  margin: 0px auto 5vw;
}

.section.section--extended {
  padding: 60px;
  background: rgb(247, 247, 247);
  box-sizing: border-box;
}

/* Product activity */

.product-activity {
  background-image: url('../images/productactivity_background.png');
  background-size: cover;
  margin: 0 auto;
  background-size: 100% 740px;
  margin-top: 130px;
  max-height: 740px;
  background-repeat: no-repeat;
}

.product-activity__container-image {
  display: inline-block;
}

.product-actibity__image {
  max-height: 1000px;
}

.product-activity__description {
  display: inline-block;
  vertical-align: top;
  margin-top: 150px;
}

.product-activity__icons {
  display: flex;
  justify-content: space-between;
  max-width: 110px;
  align-items: flex-start;
  margin-bottom: 40px;
}

.product-activity__title {
  letter-spacing: 1px;
  max-width: 500px;
  font-size: 48px;
  line-height: 1.3em;
  color: #fff;
  margin-bottom: 50px;
}

/* Form */

.form--primary .form__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(209, 209, 209);
}

.form--primary .form__input::-moz-placeholder { /* Chrome/Opera/Safari */
  color: rgb(209, 209, 209);
}

.form--primary .form__input::-ms-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(209, 209, 209);
}

.form--primary .form__input::-moz-placeholder { /* Chrome/Opera/Safari */
  color: rgb(209, 209, 209);
}

.form--secondary .form__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(65, 65, 65);
}

.form--secondary .form__input::-moz-placeholder { /* Chrome/Opera/Safari */
  color: rgb(65, 65, 65);
}

.form--secondary .form__input::-ms-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(65, 65, 65);
}

.form--secondary .form__input::-moz-placeholder { /* Chrome/Opera/Safari */
  color: rgb(65, 65, 65);
}

.form--secondary .form__input {
  border-bottom: 2px solid #000;
  color: #000;
}

.form--secondary .form__terms {
  color: #000;
}

.form--primary .form__input {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.form--primary .form__terms {
  color: #fff;
}

.form {
  max-width: 376px;
  width: 100%;
}

.form__input {
  border: none;
  padding: 12px 0;
  background: transparent;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
}

.form__terms {
  color: #fff;
  font-size: 12px;
  text-align: right;
  margin-bottom: 40px;
}

/* Remixable */

.remixable {
  max-width: 590px;
  padding: 0 60px;
  margin: 180px auto 180px;
}

.counter__decimal {
  font-size: 80px;
  font-weight: 600;
  line-height: 92px;
}

.counter__text {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
}

.counters {
  display: flex;
  justify-content: space-between;
}

/* Grid images */

.grid-images-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
}

.grid-images-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 40px;
}

.grid-image {
  width: 100%;
}

.grid-image-label {
  font-size: 28px;
  line-height: 34px;
  margin: 20px 0;
  font-weight: 600;
}

/* UI Kit */

.ui-kit {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.ui-kit__description {
  margin: 90px 0;
}

.ui-kit__container-image {
  display: inline-block;
  max-width: 970px;
  max-height: 735px;
  position: absolute;
  right: 95px;
  top: 0;
}

.ui-kit__image {
  width: 100%;
}

.question {
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 50px;
}

/* Resources */

.resources .title-section {
  margin-bottom: 15px;
}

.resources .subtitle-section {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 60px;
}

.grid-resources {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.grid-resource__container-image {
  position: relative;
  overflow: hidden;
}

.grid-resource__curl {
  position: relative;
  transform: translate(-50px, -2px);
  background: #fff;
  width: 50px;
  height: 50px;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  position: absolute;
  left: 0;
}

.grid-resource__curl::after {
  content: '';
  position: absolute;
  width: 0;
	height: 0;
	border-top: 50px solid rgb(27, 27, 28);
	border-left: 50px solid transparent;
}

.grid-resource:hover .grid-resource__curl {
  transform: translate(0px, -50px);
}

.grid-resource:hover .grid-resource__image {
  transform: scale(1.2, 1.2);
}

.grid-resource__image {
  width: 100%;
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.grid-recource__description {
  font-size: 16px;
  line-height: 1.375em;
  font-weight: 600;
}

.resources .link {
  margin: 15px 0;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}

.resources .link:hover {
  text-transform: uppercase;
  font-weight: normal;
}

.resources .link::before {
  content: none;
}

/* Footer */

.footer {
  background: #000;
}

.footer .logo {
  display: inline-block;
  height: auto;
  padding-bottom: 0;
}

.footer .navigation {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.footer .nagivation--small {
  float: right;
}

.footer .logo__image {
  margin: 0;
}

.footer__wrapper {
  max-width: 1740px;
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 50px 0px;
}

@media screen and (max-width: 1439px) {
  .product-activity {
    position: relative;
    font-size: 0;
    width: 100%;
    max-width: none;
  }

  .product-activity__container-image {
    width: 700px;
    margin-top: 13px;
  }

  .product-actibity__image {
    width: 100%;
  }

  .product-activity__description {
    width: calc(100% - 730px);
    margin-top: 116px;
  }

  .ui-kit__container-image {
    width: 50%;
    top: calc(50% - 205px);
  }

  .footer .logo {
    float: left;
  }

  .footer .navigation {
    display: block;
    float: none;
  }

  .footer .navigation .link {
    padding: 0 15px 16px 0;
  }
}

@media screen and (max-width: 1279px) {
  .header .container-controls {
    display: none;
  }

  .header .navigation {
    float: right;
  }

  .navigation__menu-button {
    display: block;
  }

  .navigation-links {
    display: none;
  }

  .product-activity {
    max-height: 565px;
    background-size: 100% 565px;
  }

  .product-activity__container-image {
    margin-top: -22px;
    width: 600px;
  }

  .product-actibity__image {
    width: 100%;
  }

  .product-activity__description {
    width: calc(100% - 630px);
    margin-top: 62px;
  }

  .product-activity__title {
    font-size: 32px;
  }

  .title-section.title-section--big {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .question {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .hidden-tablet {
    display: none;
  }

  .header--sticky .logo__image,
  .header--sticky .logo__text {
    margin-left: 30px;
  }

  .header .navigation {
    margin-right: 30px;
  }

  .product-activity {
    background-size: 100% 420px;
    max-height: none;
    margin: 130px auto 5vw;
  }

  .product-activity__container-image {
    width: 100%;
    margin: 0 auto 5vw;
  }

  .product-actibity__image {
    width: 480px;
    margin-left: -18px;
    margin-top: -20px;
  }

  .product-activity__description {
    width: 100%;
    margin-top: -45px;
    box-sizing: border-box;
  }

  .product-activity__icons {
    margin-bottom: 20px;
    max-width: 141px;
  }

  .product-activity__icons svg path {
    fill: #000;
  }

  .product-activity__title {
    color: #000;
    max-width: none;
    margin-bottom: 30px;
    font-size: 40px;
  }

  .product-activity .form__input {
    color: #000;
    border-color: #000;
  }

  .product-activity .form__terms {
    color: #000;
    margin-bottom: 20px;
  }

  .product-activity .link.link--secondary {
    color: #000;
  }

  .product-activity .button.button.button--primary {
    background: #000;
    color: #fff;
  }

  .product-activity .button.button.button--primary:hover {
    background: #fff;
    color: #000;
    border-color: #000;
  }

  .section {
    width: 100%;
    max-width: none;
    padding: 0 60px;
    box-sizing: border-box;
  }

  .section.section--extended {
    max-width: none;
    width: 100%;
  }

  .remixable {
    width: 100%;
    margin: 0 auto 5vw;
    max-width: none;
    padding: 0 60px;
    box-sizing: border-box;
  }

  .counters {
    max-width: 600px;
  }

  .counter__decimal {
    font-size: 60px;
    font-weight: normal;
  }

  .grid-images-4,
  .grid-images-3,
  .grid-resources {
    grid-gap: 20px;
  }

  .grid-images-3 {
    margin: 0;
  }

  .ui-kit__description {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    order: 2;
  }

  .question {
    font-size: 16px;
  }

  .ui-kit {
    flex-direction: column;
  }

  .ui-kit__description .form {
    margin: 0 auto;
  }

  .ui-kit__description .form__terms {
    text-align: center;
  }

  .ui-kit__container-image {
    width: 100%;
    position: static;
  }

  .footer__wrapper {
    width: 100%;
    max-width: none;
    padding: 50px 60px;
    box-sizing: border-box;
  }

  .footer .logo {
    height: 93px;
    width: auto;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .header--sticky .logo__image,
  .header--sticky .logo__text {
    margin-left: 0;
  }

  .header--sticky .navigation {
    margin-right: 0;
  }

  .product-activity {
    background: none;
    min-height: auto;
  }

  .product-activity__container-image {
    display: block;
    background-image: url('../images/productactivity_background_mobile.png');
    background-size: cover;
    min-height: 650px;
    height: 100%;
    background-position: center;
  }

  .product-actibity__image {
    display: none;
  }

  .product-activity__description {
    margin-top: 0;
    padding: 0;
  }

  .product-activity__title {
    font-size: 30px;
    max-width: 430px;
    line-height: 1.125em;
  }

  .remixable {
    padding: 0 20px;
  }

  .title-section.title-section--small {
    font-size: 24px;
    line-height: 32px;
  }

  .title-section.title-section--big {
    font-size: 30px;
  }

  .grid-images-4 {
    grid-template-columns: 1fr 1fr;
  }

  .grid-images-3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .grid-image-label {
    margin: 15px 0;
  }

  .counters {
    flex-wrap: wrap;
  }

  .counter {
    width: 50%;
  }

  .section,
  .section.section--extended {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .resources .subtitle-section {
    margin-bottom: 30px;
  }

  .grid-resources {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .footer__wrapper {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  .product-activity__icons {
    margin: 0 auto 20px;
  }

  .product-activity .button {
    width: 100%;
  }

  .grid-images-3 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .grid-images-3 .grid-image-item {
    margin-bottom: 20px;
  }

  .grid-images-3 .grid-image-item:last-child {
    margin-bottom: 0;
  }

  .footer {
    text-align: center;
  }

  .footer .logo {
    float: none;
    height: auto;
    margin: 0 0 50px 0;
  }

  .footer .navigation {
    margin-bottom: 20px;
  }
}